.cart {
    background-color: var(--very-light-brown);
    text-align: center;
    padding: 5vh 5vw;
    height: 100vh;
}

/* .cart h1 {
    background-color: var(--very-light-brown);
    text-align: center;
    margin: 0;
} */